@model IEnumerable<Rules>
<div class="row">
    <div class="main-header" style="margin-top: 0px;">
        <h4>Rules</h4>
        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
            <li class="breadcrumb-item">
                <a asp-area="AdminAreas" asp-controller="Home" asp-action="Statistics">
                    <i class="icofont icofont-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#!">Entities</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="AdminAreas" asp-controller="Rules" asp-action="Index">Rules</a>
            </li>
        </ol>
    </div>
</div>

<p>
    <a asp-action="Create" class="btn waves-effect waves-light btn-success btn-outline-success">Create New</a>

</p>
<form method="post" asp-controller="Rules" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="search" id="searchInput" placeholder="Searching 'Rules'">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="submitForm()">Search</button>
    </div>
</form>

<script>
    function submitForm() {
        var searchValue = document.getElementById("searchInput").value;
        var form = document.querySelector("form");

        if (searchValue) {
            form.submit();
        } else {
            form.action = "@Url.Action("Index")";
            form.method = "post";
            form.submit();
        }
    }
</script>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @string.Concat(item.Rule.Substring(0,20),"....")
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn waves-effect waves-light btn-warning btn-outline-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn waves-effect waves-light btn-info btn-outline-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn waves-effect waves-light btn-danger btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<nav class="mt-3 d-flex justify-content-center" aria-label="...">
    <ul class="pagination">
        <li class="page-item  @(ViewBag.CurrentPage == 1 ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" tabindex="-1">Previous</a>
        </li>
        @for (int i = 1; i <= ViewBag.TotalPage; i++)
        {
            <li class="page-item @(i==ViewBag.CurrentPage ? "active pointerNone" : "")">
                <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
            </li>
        }

        <li class="page-item @(ViewBag.TotalPage == ViewBag.CurrentPage ? "disabled" : "")">
            <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage+1)">Next</a>
        </li>
    </ul>
</nav>