@model IEnumerable<Papa_Jhons.Entities.PizzaCategory>
<div class="row">
    <div class="main-header" style="margin-top: 0px;">
        <h4>Pizza Category</h4>
        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
            <li class="breadcrumb-item">
                <a asp-area="AdminAreas" asp-controller="Home" asp-action="Statistics">
                    <i class="icofont icofont-home"></i>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="#!">Entities</a>
            </li>
            <li class="breadcrumb-item">
                <a asp-area="AdminAreas" asp-controller="PizzaCategory" asp-action="Index">PizzaCategory</a>
            </li>
        </ol>
    </div>
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
