@model List<Product>
@{
    Category category = ViewBag.Category;
    }

<section class="pasta-section">
    <div class="container-fluid px-4 px-sm-5">
        <div class="row">
            <h1>@category.Name</h1>
            @foreach (var item in Model)
            {
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                    <div class="pasta-img" data-bs-toggle="modal" data-bs-target="#pastaModal-@item.Id">
                        <img src="@item.ImagePath" alt="">
                    </div>
                    <div class="pasta-title">
                        <p>@item.Name</p>
                        <a href="" data-bs-toggle="modal" data-bs-target="#pastaModa-@item.Id">select</a>
                    </div>
                    @if (item.Desc is not null)
                    {
                        <div class="pasta-text">
                            <span>
                                @item.Desc
                            </span>
                        </div>
                    }
                </div>

                <!-- Modal for Pasta start -->
                <div class="modal fade pasta-modal " id="pastaModal-@item.Id" tabindex="-1" aria-labelledby="pastaModalLabel-@item.Id"
                     aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <form asp-controller="product" asp-action="addbasket">
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="modal-img">
                                            <img src="@item.ImagePath" alt="">
                                        </div>
                                        <div class="modal-title">
                                            <p>@item.Name</p>
                                        </div>
                                        <div class="modal-details">
                                            <div class="modal-prd-count">
                                                <div class="pasta-minus modal-count-box">
                                                    <i class="fa fa-minus" aria-hidden="true"></i>
                                                </div>
                                                <span  class="modal-count-value modal-count-box">1</span>
                                                <div class="pasta-plus modal-count-box">
                                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="modal-prd-price">
                                                <span>8</span>
                                                <span>₼</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <div class="modal-basket">
                                        <a href="" data-bs-toggle="modal" data-bs-target="#basketModal">
                                            <i class="fas fa-shopping-basket">
                                                <span class="basket-count">2</span>
                                            </i>
                                            <div class="basket-price">
                                                <span>13.90</span>
                                                <span>₼</span>
                                            </div>
                                        </a>
                                    </div>
                                    <a href="" class="modal-button">add</a>
                                </div>

                            </div>
                      </form>
                    </div>
                </div>
                <!-- Modal for Pasta finish -->
            }
        

        </div>
    </div>
</section>





                @section Script{
    <script src="~/assets/js/pasta.js"></script>

                }