@*<div class="col-sm-12 col-md-6 col-xl-4">
    <div class="h-100 bg-secondary rounded p-4" style="max-height: 350px; overflow-y: scroll;">
        <div class="d-flex align-items-center justify-content-between mb-2">
            <h6 class="mb-0">Messages</h6>
        </div>
        @foreach (var item in contactUsMessages)
        {
            <a asp-controller="Contact" asp-action="ShowMessage" asp-route-email="@item.Email" asp-route-comment="@item.Comment" asp-route-name="@item.Name" class="d-flex align-items-center border-bottom py-3">
                <div class="w-100 ms-3">
                  
                    <div class="d-flex w-100 mb-3 mt-2 justify-content-between">
                        <h6 class="mb-0">@item.Name</h6>
                        <h6 class="mb-0">@item.Email</h6>
                    </div>
                    <span>@(item.Comment.Length > 35 ? item.Comment.Substring(0, 35) : item.Comment)</span>
                </div>
            </a>
        }
    </div>
</div>*@